.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.cfe {
  &-green {
    color: var(--txt-green);
  }

  &-orange {
    color: var(--txt-orange);
  }
}
